.App {
  position: absolute;
  display: flex;
  height: 100%;
  width: 100%;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.filter-options-container {
  position: absolute;
  min-height: 100%;
  margin: 0;
  padding: 15px;
  z-index: 999;
  background-color: #3b3b3b;
  width: 20%;
  color: #ffffff;
  border-right: 3px solid #000;
  box-shadow: 2px 0 10px #000;
}

.filter-options-container .list-locations {
  padding-left: 15px;
}

.filter-options-container .list-locations li {
  list-style: none;
}

.filter-options-container .list-locations li a {
  text-decoration: none;
  color: #b13232;
}

.filter-options-container .list-locations li a:hover {
  color: #ff0000;
}

.search-field {
  border: 2px solid #000;
  background-color: #fffad1;
  border-radius: 15px;
  width: 80%;
  padding: 8px;
}

.search-field:focus {
  background-color: #ffffff;
  outline: none;
  color: #000;
}

.neighborhood-map {
  position: fixed !important;
  left: 20%;
  width: 80%;
  height: 100%;
}